{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="color: #597eaa;"><b>EDITAR NOTICIA</b></h3>
          <br>
          <br>
        </div>
        <div class="panel-body">
          <form action="/editarNoticia/ " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-danger btn-block" href="{% url 'gestionarNoticia' %}"> Cancelar </a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}