{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center"> <!-- Agrega la clase "justify-content-center" para centrar el contenido -->
    <div class="col-md-6">
      <div class="form-panel panel panel-default">

        <div class="panel-heading text-center"> <!-- Agrega la clase "text-center" para centrar el contenido del panel-heading -->
          <h3 class="panel-title" style="color: #597eaa;"><b>GESTIONAR NOTICIAS</b></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="panel-body">
  <form id="formulario" role="form" action="." method="POST">
    {% csrf_token %}
    <fieldset>
      <div class="row justify-content-center"> <!-- Agrega la clase "justify-content-center" para centrar el contenido -->
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr> 
                <th>Id</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Título</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for n in noticia %}
              <tr>
                <td>{{ n.idnoticia }}</td>
                <td>{{ n.fecha }}</td>
                <td>{{ n.autor }}</td>
                <td>{{ n.tipo_categoria|get_categoria_nombre }}</td>
                <td>{{ n.titulo }}</td>
                <td>
                  <a href="/editarNoticia/{{ n.idnoticia }}" class="btn btn-info btnEditar">Editar</a>
                </td>
                <td>
                  <a href="/eliminarNoticia/{{ n.idnoticia }}" class="btn btn-danger btnEliminacion">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </form>
</div>
 
{% endblock content %}



{% block scripts %}
<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js'%}"></script>
<script type=application/javascript>
    {%if messages%}
        var msg = '';
        var msg1 = '';
        {%for message in messages%}
        {% if 'error' in message.tags %}
            msg += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg != ''){
        Swal.fire({
            icon: 'error',
            text: msg,
            //footer: '<a href="">Why do I have this issue?</a>'
          })
        }
        {%for message in messages%}
        {% if 'success' in message.tags %}
            msg1 += '{{ message }}\n';
          {% endif %}
        {% endfor %}
        if(msg1 != ''){
            Swal.fire({
                icon: 'success',
                text: msg1,
              })
        }
    {% endif %} 
  </script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();

    // Manejar el evento de clic en los botones de clase "btnEditar"
    $('.table').on('click', '.btnEditar', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      window.location.href = url;
    });
  });
</script>
{% endblock %}