{% extends "./index.html" %}

{% block title %} Gestion de Noticias {%endblock %}

{% block body %}
<div class = "row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong class="text-dark">{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
<h2>Gestion de Noticias</h2>
<div class="card">
  <div class="card-body">
    <form action="/registrarNoticia/ " method="POST">{% csrf_token %}

      <div class="form-group">
        <input type="text" id="txtId" name="txtId" class="form-control" min="1" max="2" placeholder="Id" 
         value="1" required>
      </div>
      <div class="form-group">
        <input type="text" id="txtFecha" name="txtFecha" class="form-control" placeholder="Fecha" 
         minlength="6" maxlength="10" required>
      </div>
      <div class="form-group">
        <input type="text" id="txtAutor" name="txtAutor" class="form-control" placeholder="Autor" 
         minlength="6" maxlength="50" required>
      </div>
      <div class="form-group">
        <input type="text" id="txtCategoria" name="txtCategoria" class="form-control" placeholder="Categoria" 
         minlength="6" maxlength="50" required>
      </div>
      <div class="form-group">
        <input type="text" id="txtTitulo" name="txtTitulo" class="form-control" placeholder="Titulo" 
         minlength="6" maxlength="50" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn block text-white">Guardar </button>
      </div>

    </form>
  </div>

</div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
       <div class="table-responsive py-2">
        <table class="table table-striped">
         <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Fecha</th>
            <th>Autor</th>
            <th>Categoria</th>
            <th>Titulo</th>
            <th colspan="2">Acciones </th>
          </tr>
         </thead>
         <tbody>
          {% for c in noticias %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{c.id}}</td>
            <td>{{c.fecha}}</td>
            <td>{{c.autor}}</td>
            <td>{{c.categoria}}</td>
            <td>{{c.titulo}}</td>
            <td><a href="edicionNoticia/{{c.id}}" class="btn btn-info">Editar</a></td>
            <td><a href="eliminarNoticia/{{c.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
          </tr>
          {% endfor %}
         </tbody>
        </table>
       </div>
  </div>
</div>
{% endblok %}