/*titulo*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

/* linea horizontal abajo del titulo*/
.line {
  width: 100%;
  border: none;
  height: 3px;
  background-color: black;
}


/* label y list*/
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* Alinea el texto a la izquierda */
  position: relative; /* Permite mover la etiqueta */
  top: -500px; /* Mueve la etiqueta hacia arriba */
  left: 20px; /* Ajusta el desplazamiento hacia la derecha */
}

select {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  position: relative; /* Permite mover el ListBox */
  top: -500px; /* Mueve el ListBox hacia arriba */
  left: 20px; /* Ajusta el desplazamiento hacia la derecha */
}

/*boton
    .btn-right-top {
      position: relative;
      float: right;
      margin-top: -400px;
      margin-right: 60px;
      background-color: #4CAF50;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }*/

    /*TABLA*/

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: -400px;
    }
    
    table th, table td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    
    table th {
      background-color: #f2f2f2;
    }
    
    .actions {
      display: flex;
      gap: 8px;
    }
    
    .actions a {
      padding: 4px 8px;
      text-decoration: none;
      background-color: #4CAF50;
      color: #fff;
      border-radius: 4px;
    }
    
    /*boton*/
    #agregar-noticia {

      position: relative;
      float: right;
      margin-top: -500px;
      margin-right: 60px;
      background-color: #4CAF50;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
    